Repository module-federation/module-federation-examples, pull requests merged in 2023-02, with the labels that each got.

#2758 added: context wrapper to e2e tests
  nextjs-ssr/e2e/checkApps.cy.ts
  react-nextjs/react-host-nextjs-remote/e2e/CommonCheck.cy.ts
  vite-react-simple/e2e/tests/commonChecks.cy.ts
  vite-react-simple/e2e/tests/viteAppChecks.cy.ts
Labels: e2e-success, workflow-success

#2764 Fix(cypress): moved specific if condition upper.
  cypress/common/base.ts
Labels: e2e-failure, workflow-failure

#2769 Fix(vite-react-microfrontends): Fix e2e CI run.
  vite-react-microfrontends/e2e.ci.js
  vite-react-microfrontends/package.json
  vite-react-microfrontends/yarn.lock
Labels: e2e-success, e2e-failure, workflow-success, workflow-failure

#2760 added: e2e tests to index
  package.json
  react-nextjs/react-host-nextjs-remote/host/package.json
  react-nextjs/react-host-nextjs-remote/package.json
  react-nextjs/react-host-nextjs-remote/remote/package.json
  rollup-federation-demo/README.md
  rollup-federation-demo/package.json
  rollup-federation-demo/rollup-spa/package.json
  rollup-federation-demo/rs-sidecar/package.json
  rollup-federation-demo/webpack-spa/package.json
  rust-wasm/README.md
Labels: e2e-success, workflow-success

#2775 Feat(Angular-universal-ssr) upgrade to ang15
  angular-universal-ssr/README.md
  angular-universal-ssr/client-app/.gitignore
  angular-universal-ssr/client-app/angular.json
  angular-universal-ssr/client-app/package.json
  angular-universal-ssr/client-app/src/app/app-routing.module.ts
  angular-universal-ssr/client-app/src/app/client-cities/client-cities-home/client-cities-home.component.ts
  angular-universal-ssr/client-app/src/app/client-cities/client-cities.module.ts
  angular-universal-ssr/client-app/src/environments/environment.ts
  angular-universal-ssr/client-app/src/polyfills.ts
  angular-universal-ssr/client-app/src/test.ts
  angular-universal-ssr/client-app/tsconfig.app.json
  angular-universal-ssr/client-app/tsconfig.base.json
  angular-universal-ssr/client-app/tsconfig.json
  angular-universal-ssr/client-app/webpack/client-app.js
  angular-universal-ssr/client-app/webpack/client-ssr.js
  angular-universal-ssr/client-app/yarn.lock
  angular-universal-ssr/e2e.ci.js
  angular-universal-ssr/e2e/tests/clientChecks.cy.ts
  angular-universal-ssr/e2e/tests/hostChecks.cy.ts
  angular-universal-ssr/host-app/.gitignore
  angular-universal-ssr/host-app/angular.json
  angular-universal-ssr/host-app/package.json
  angular-universal-ssr/host-app/server-bootstrap.ts
  angular-universal-ssr/host-app/src/app/app-routing.module.ts
  angular-universal-ssr/host-app/src/environments/environment.ts
  angular-universal-ssr/host-app/src/index.html
  angular-universal-ssr/host-app/src/main.server.ts
  angular-universal-ssr/host-app/src/polyfills.ts
  angular-universal-ssr/host-app/tsconfig.app.json
  angular-universal-ssr/host-app/tsconfig.base.json
  angular-universal-ssr/host-app/tsconfig.json
  angular-universal-ssr/host-app/tsconfig.server.json
  angular-universal-ssr/host-app/webpack/host-app.js
  angular-universal-ssr/host-app/webpack/host-ssr.js
  angular-universal-ssr/host-app/yarn.lock
  angular-universal-ssr/package.json
  angular-universal-ssr/patched_packages/_ngtools_webpack.tgz
  angular-universal-ssr/yarn.lock
Labels: e2e-success, e2e-failure, workflow-success, workflow-failure

#2788 fix: fix for ci
  .github/workflows/on-pull-request-closed.yml
  .github/workflows/on-pull-request.yml
  .github/workflows/on-push.yml
  .github/workflows/on-workflow-run.yml
  cypress/common/base.ts
  react-nextjs/nextjs-host-react-remote/host/package.json
  tsconfig.json
  yarn.lock
Labels: e2e-failure, workflow-failure
